<?xml version="1.0"?>
<launch>

    <remap from="/cmd_vel" to="/amigo/base/references" />
    <!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" /> -->

    <!-- Start the simple webserver to handle static files -->
    <node pkg="navigation_gui" type="webserver.py" name="navigation_gui_webserver" output="screen">
        <param name="port" value="8001" />
        <rosparam param="index_names">
            - index.html
        </rosparam>
    </node>

</launch>
